In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# import geopandas as gpd
import numpy as np
import os
import scipy as sc
import requests
import datetime

In [ ]:
#9pm - 8am

does the average speed depend on the speed before?
(traffic jam for instance)
so we take a specific time period before and check the dependencies
we can make a model for one crossing or for all the crossings

In [2]:
file = pd.read_csv('../traffic/Traffic_dataset_v0.1.csv', parse_dates=['DATETIME'], date_parser=lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M'))
file.head()

,ID_SENSOR,DIRECTION,DATETIME,NUM_VEHICLES,SPEED_MEAN,SPEED_SD,EVENT,LON,LAT
0,1,A,2018-09-01 02:00:00,NaN,NaN,NaN,NO_EVENT,12.291754,41.800588
1,1,A,2018-09-01 02:15:00,NaN,NaN,NaN,NO_EVENT,12.291754,41.800588
2,1,A,2018-09-01 02:30:00,NaN,NaN,NaN,NO_EVENT,12.291754,41.800588
3,1,A,2018-09-01 02:45:00,NaN,NaN,NaN,NO_EVENT,12.291754,41.800588
4,1,A,2018-09-01 03:00:00,NaN,NaN,NaN,NO_EVENT,12.291754,41.800588

In [3]:
file_new = file.dropna(subset=['NUM_VEHICLES', 'SPEED_MEAN', 'SPEED_SD'], axis=0, thresh=2)
file_new = file_new.reset_index()

In [74]:
weather = []

In [75]:
key1 = '0ee33782e549c1b338635079fea0b22d'
key2 = 'e42dcd34a7f57dfa00a8c829794c6f85'
key3 = 'd3b32860b1895971ed80c02d44ef2e20'
key4 = '2eb31bd8490bfdd066cf58bdf0c3b4e7'
key5 = '5df2e1bba76a6825bf1bdfdbd910bf0d'
key6 = '8d1c96e7a868fd2afd8d21dacd463908'
key7 = 'fa7e7183c19ee49901b10c3b48f370ed'
key8 = '5e6f428f0e2837dfbfcb105e5b51d2f9'
key9 = '6fb6ab74aa79c231c3d32982c6da0786'
key10 = '039bdc1da4271f09e0c6a8dfa573665a'
key11 = 'fd039c5a7bb0962d5607f6aacb53899a'

for i in range (11991,12991):
    a = requests.get('https://api.darksky.net/forecast/' + str(key11) + '/' + str(file_new.LAT[i]) + ',' + str(file_new.LON[i]) + ',' + str(file_new.DATETIME[i].timestamp())[:10] + '?units=si&exclude=daily,flags,offset,hourly')
    weather.append(a)
    
len(weather)

1000

In [76]:
weather[80]
#11.51

In [150]:
file_new[2991:2992]

,index,ID_SENSOR,DIRECTION,DATETIME,NUM_VEHICLES,SPEED_MEAN,SPEED_SD,EVENT,LON,LAT
2991,5817,1,A,2018-10-31 15:15:00,571.0,100.4,18.3,NO_EVENT,12.291754,41.800588

In [146]:
weather[0].json()['currently']

{'time': 1540998900,
 'summary': 'Partly Cloudy',
 'icon': 'partly-cloudy-day',
 'precipType': 'rain',
 'temperature': 18.79,
 'apparentTemperature': 18.79,
 'dewPoint': 11.07,
 'humidity': 0.61,
 'pressure': 1015.38,
 'pressureError': 49.61,
 'windSpeed': 5.21,
 'windGust': 13.9,
 'windBearing': 131,
 'cloudCover': 0.29,
 'uvIndex': 0,
 'visibility': 10.01}

In [77]:
temp = []
vis = []
hum = []
wind = []
prec = []
pressure = []

In [114]:
weather[991].json()['currently']['temperature']

22.48

In [117]:
weather[1].json()['currently']['visibility']

10.01

In [78]:
for x in range (0, len(weather)):
    temp.append(weather[x].json()['currently']['temperature'])
#     vis.append(weather[x].json()['currently']['visibility'])
    hum.append(weather[x].json()['currently']['humidity'])
    wind.append(weather[x].json()['currently']['windSpeed'])
    prec.append(weather[x].json()['currently']['precipType'])
    pressure.append(weather[x].json()['currently']['pressure'])

In [79]:
len(hum)

1000

In [80]:
df = pd.DataFrame({'Temp' : temp, 'Humidity' : hum, 'Wind' : wind, 'Precipitation' : prec, 'Pressure' : pressure})
df.head()

    Temp  Humidity  Wind Precipitation  Pressure
0  12.01      0.82  2.81          rain   1016.02
1  11.99      0.80  2.75          rain   1016.06
2  11.99      0.78  2.75          rain   1016.09
3  12.23      0.79  2.77          rain   1016.14
4  12.47      0.80  2.80          rain   1016.18

In [81]:
df.to_csv('../traffic/temperature12991.csv')

In [61]:
a.json()

{'latitude': 41.800588,
 'longitude': 12.291754,
 'timezone': 'Europe/Rome',
 'currently': {'time': 1535767200,
  'summary': 'Partly Cloudy',
  'icon': 'partly-cloudy-night',
  'precipType': 'rain',
  'temperature': 21.24,
  'apparentTemperature': 21.81,
  'dewPoint': 19.79,
  'humidity': 0.91,
  'pressure': 1014.67,
  'pressureError': 14.23,
  'windSpeed': 3.08,
  'windBearing': 86,
  'cloudCover': 0.53,
  'uvIndex': 0,
  'visibility': 8.51},
 'offset': 2}