In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# import geopandas as gpd
import numpy as np
import os
import scipy as sc
import requests
import datetime

In [2]:
file_new = pd.read_csv('Traffic_dataset_test_set_clean_v0.1.csv', parse_dates=['DATETIME'], date_parser=lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M'))
file_new.head()

   ID_SENSOR DIRECTION            DATETIME  NUM_VEHICLES     EVENT
0          1         A 2018-11-07 07:00:00           700  NO_EVENT
1          1         A 2018-11-07 07:15:00           654  NO_EVENT
2          1         A 2018-11-07 07:30:00           736  NO_EVENT
3          1         A 2018-11-07 07:45:00           699  NO_EVENT
4          1         A 2018-11-07 08:00:00           712  NO_EVENT

In [3]:
file_new['LON'] = file_new.ID_SENSOR
file_new['LAT']= file_new.ID_SENSOR
file_new.head()

   ID_SENSOR DIRECTION            DATETIME  NUM_VEHICLES     EVENT  LON  LAT
0          1         A 2018-11-07 07:00:00           700  NO_EVENT    1    1
1          1         A 2018-11-07 07:15:00           654  NO_EVENT    1    1
2          1         A 2018-11-07 07:30:00           736  NO_EVENT    1    1
3          1         A 2018-11-07 07:45:00           699  NO_EVENT    1    1
4          1         A 2018-11-07 08:00:00           712  NO_EVENT    1    1

In [4]:
file_new['LON'].replace([1,3,4],[12.291754,12.352086,15.865158], inplace=True)
file_new['LAT'].replace([1,3,4],[41.800588,41.815315,38.364355], inplace=True)
file_new.head()

,ID_SENSOR,DIRECTION,DATETIME,NUM_VEHICLES,EVENT,LON,LAT
0,1,A,2018-11-07 07:00:00,700,NO_EVENT,12.291754,41.800588
1,1,A,2018-11-07 07:15:00,654,NO_EVENT,12.291754,41.800588
2,1,A,2018-11-07 07:30:00,736,NO_EVENT,12.291754,41.800588
3,1,A,2018-11-07 07:45:00,699,NO_EVENT,12.291754,41.800588
4,1,A,2018-11-07 08:00:00,712,NO_EVENT,12.291754,41.800588

In [5]:
d = ['e42dcd34a7f57dfa00a8c829794c6f85','d3b32860b1895971ed80c02d44ef2e20','2eb31bd8490bfdd066cf58bdf0c3b4e7',\
'5df2e1bba76a6825bf1bdfdbd910bf0d','8d1c96e7a868fd2afd8d21dacd463908','fa7e7183c19ee49901b10c3b48f370ed','5e6f428f0e2837dfbfcb105e5b51d2f9',\
'6fb6ab74aa79c231c3d32982c6da0786','039bdc1da4271f09e0c6a8dfa573665a','fd039c5a7bb0962d5607f6aacb53899a','1944bc225e00cbf430807661654be075',\
'5084a731025b16d0075ec7b920001f71','268674adbdf0230de4a4249257c3c2ae','2f153b5d4543ce614da3a29095ed8489','e0d7e361179da4953282e27bf73f3313','177adaa1b3252149620350f697456780','22d5b81acbfe191f0669c52de39b4135','5bbd8146fa81426866a9f0538159e026','64cc25ad9a957c0c3bcb869491a3d8f6', '1e162afdc0ca75e44177d38e7663a5b7','d9c1c08bb45bef17f8337a312bf9faf2', '2f13ef18955a16e9facb771f7e2d6e4d','1ef0dc15ba3095737188d4d1390afd8b','8fcbdd90d2703e2e4b270a1e0dc8ee1f', '0ee33782e549c1b338635079fea0b22d']

In [7]:
weather = []

In [89]:
for i in range (10000,file_new.shape[0]):
    a = requests.get('https://api.darksky.net/forecast/' + d[10] + '/' + str(file_new['LAT'][i]) + ',' + str(file_new['LON'][i]) + ',' + str(file_new['DATETIME'][i].timestamp())[:10] + '?units=si&exclude=daily,flags,offset,hourly')
    weather.append(a)

In [90]:
len(weather)

10469

In [91]:
weather[-10:]

[<Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>]

In [92]:
temp=[]
hum=[]
wind=[]
pressure=[]

In [93]:
for x in range (0, len(weather)):
    temp.append(weather[x].json()['currently']['temperature'])
    #vis.append(weather[x].json()['currently']['visibility'])
    hum.append(weather[x].json()['currently']['humidity'])
    wind.append(weather[x].json()['currently']['windSpeed'])
    #prec.append(weather[x].json()['currently']['precipType'])
    pressure.append(weather[x].json()['currently']['pressure'])
df = pd.DataFrame({'Temp' : temp, 'Humidity' : hum, 'Wind' : wind, 'Pressure' : pressure})
df.head()

    Temp  Humidity  Wind  Pressure
0  15.42      0.82  0.68   1016.35
1  15.71      0.82  0.66   1016.39
2  16.01      0.82  0.65   1016.43
3  16.30      0.82  0.65   1016.47
4  16.59      0.82  0.68   1016.51

In [94]:
df.shape

(10469, 4)

In [95]:
df.to_csv('test_T.csv')